header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.head-menu a{
    text-decoration: none;
    color: #42464f;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 10px;
}
.active{
    color: #42b773 !important;

}
.head-menu a:hover{
    color: #42b773;
    transition: .3s;
}
.head-logo i{
    font-size: 44px;
    color: #42b773;
    margin-right: 10px;
    display: none;
}
.head-logo{
    display: flex;
    align-items: center;
}
